# The following must match the versions available in the Lambda Runtime for python 3.9
boto3 == 1.20.32
botocore == 1.23.32

# For development purpose only - not for prod
pipdeptree

# AWS CDK
aws-cdk-lib>=2.38.1,<3.0.0
constructs==10.1.84
pytest==6.2.5