# The following must match the versions available in the Lambda Runtime for python 3.9
boto3 == 1.20.32
botocore == 1.23.32

# For development purpose only - not for prod
pipdeptree==2.3.1

# AWS CDK
aws-cdk-lib==2.42.0
constructs==10.1.105
pytest==7.1.3
